
.severeunderweight {

    color : rgb(33, 98, 172);

}

.underweight {

    color: rgba(71,165,175);
    
}

.normal {

    color : rgb(51, 192, 147);
   
}

.overweight {

    color: rgba(236,198,73);
    
}

.moderateobesity {

    color : rgb(212, 115, 23);
    
}

.severeobesity {

    color : rgba(223,89,77);
    
}

.morbidobesity {

    color : rgb(153, 11, 11);
    
}

.imc{

    font-size: 5rem;
}

.interpretation{

    font-size: 2rem;
}